body {
  background-color: #fdd14f;
}
.weather-app {
  background-color: #31afba;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 08);
  border-radius: 20px;
}
